@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google fonts */
:root {
  /* Display fonts */
  --display-01-font-size: 64px;
  --display-01-line-height: 72px;
  --display-01-font-weight: 600;
  --display-02-font-size: 56px;
  --display-02-line-height: 64px;
  --display-02-font-weight: 600;
  --display-03-font-size: 48px;
  --display-03-line-height: 56px;
  --display-03-font-weight: 600;
  --display-04-font-size: 40px;
  --display-04-line-height: 48px;
  --display-04-font-weight: 600;
  --display-05-font-size: 32px;
  --display-05-line-height: 44px;
  --display-05-font-weight: 600;
  /* Heading fonts */
  --heading-01-font-size: 32px;
  --heading-01-line-height: 40px;
  --heading-01-font-weight: 600;
  --heading-02-font-size: 28px;
  --heading-02-line-height: 32px;
  --heading-02-font-weight: 600;
  --heading-03-font-size: 24px;
  --heading-03-line-height: 32px;
  --heading-03-font-weight: 600;
  --heading-04-font-size: 16px;
  --heading-04-line-height: 56px;
  --heading-04-font-weight: 700;
  --heading-05-font-size: 14px;
  --heading-05-line-height: 48px;
  --heading-05-font-weight: 700;
  /* Body fonts */
  --body-xxl-font-size: 24px;
  --body-xxl-line-height: 32px;
  --body-xxl-font-weight: 400;
  --body-xl-font-size: 20px;
  --body-xl-line-height: 28px;
  --body-xl-font-weight: 400;
  --body-xl-font-weight-bold: 500;
  --body-xl-font-weight-extra-bold: 600;
  --body-large-font-size: 18px;
  --body-large-line-height: 24px;
  --body-large-font-weight: 400;
  --body-large-font-weight-bold: 500;
  --body-large-font-weight-extra-bold: 600;
  --body-medium-font-size: 16px;
  --body-medium-line-height: 24px;
  --body-medium-font-weight: 400;
  --body-medium-font-weight-bold: 500;
  --body-medium-font-weight-extra-bold: 600;
  --body-small-font-size: 14px;
  --body-small-line-height: 20px;
  --body-small-font-weight: 400;
  --body-small-font-weight-bold: 500;
  --body-small-font-weight-extra-bold: 600;
  --body-tiny-font-size: 12px;
  --body-tiny-line-height: 16px;
  --body-tiny-font-weight: 400;
  --body-tiny-font-weight-bold: 500;
  --body-tiny-font-weight-extra-bold: 600;
  --body-xs-font-size: 11px;
  --body-xs-line-height: 12px;
  --body-xs-font-weight: 400;
  --body-xs-font-weight-bold: 500;
  --body-xs-font-weight-extra-bold: 600;
  /* Label fonts */
  --label-01-font-size: 18px;
  --label-01-line-height: 27px;
  --label-01-font-weight: 500;
  --label-02-font-size: 16px;
  --label-02-line-height: 24px;
  --label-02-font-weight: 500;
  --label-03-font-size: 14px;
  --label-03-line-height: 20px;
  --label-03-font-weight: 500;
  --label-04-font-size: 12px;
  --label-04-line-height: 18px;
  --label-04-font-weight: 500;
  --label-04-font-size: 11px;
  --label-04-line-height: 16px;
  --label-04-font-weight: 500;
  /* Gray shades */
  --gray-00: #FFFFFF;
  --gray-50: #F2F4F5;
  --gray-100: #E4E7E9;
  --gray-200: #C9CFD2;
  --gray-300: #ADB7BC;
  --gray-400: #929FA5;
  --gray-500: #77878F;
  --gray-600: #5F6C72;
  --gray-700: #475156;
  --gray-800: #303639;
  --gray-900: #191C1F;
  /* Primary shades */
  --primary-50: #FFF3EB;
  --primary-100: #FFE7D6;
  --primary-200: #FFCEAD;
  --primary-300: #FFB685;
  --primary-400: #FF9D5C;
  --primary-500: #FA8232;
  --primary-600: #DE732D;
  --primary-700: #99501F;
  --primary-800: #663514;
  --primary-900: #331B0A;
  /* Secondary shades*/
  --secondary-50: #EAF6FE;
  --secondary-100: #D5EDFD;
  --secondary-200: #ABDBFA;
  --secondary-300: #81C9F8;
  --secondary-400: #57B7F5;
  --secondary-500: #2DA5F3;
  --secondary-600: #2484C2;
  --secondary-700: #1B6392;
  --secondary-800: #124261;
  --secondary-900: #092131;
  /* Success shades */
  --success-50: #EAF7E9;
  --success-100: #D5F0D3;
  --success-200: #ABE0A7;
  --success-300: #81D17C;
  --success-400: #57C150;
  --success-500: #2DB224;
  --success-600: #248E1D;
  --success-700: #1B6B16;
  --success-800: #12470E;
  --success-900: #092407;
  /* Warning shades */
  --warning-50: #FDFAE7;
  --warning-100: #FBF4CE;
  --warning-200: #F7E99E;
  --warning-300: #F3DE6D;
  --warning-400: #EFD33D;
  --warning-500: #EBC80C;
  --warning-600: #BCA00A;
  --warning-700: #8D7807;
  --warning-800: #5E5005;
  --warning-900: #2F2802;
  /* Danger shades */
  --danger-50: #FDEEEE;
  --danger-100: #FCDEDE;
  --danger-200: #F8BCBC;
  --danger-300: #F59B9B;
  --danger-400: #F17979;
  --danger-500: #EE5858;
  --danger-600: #BE4646;
  --danger-700: #8F3535;
  --danger-800: #5F2323;
  --danger-900: #301212;
}

body {
  font-family: "Public Sans", sans-serif;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

input {
  outline: none;
}

.container-general {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}

header #navigation {
  height: 300px;
}
header #navigation .widget-bar {
  height: 80px;
  background: var(--gray-900);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header #navigation .widget-bar .container-general .left {
  display: flex;
  align-items: center;
  gap: 10px;
}
header #navigation .widget-bar .container-general .left .black {
  background-color: var(--warning-300);
  width: 74px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-3deg);
}
header #navigation .widget-bar .container-general .left .black h1 {
  font-size: var(--body-xl-font-size);
  font-weight: var(--body-xl-font-weight-extra-bold);
  color: var(--gray-900);
}
header #navigation .widget-bar .container-general .left .friday {
  font-size: var(--heading-03-font-size);
  font-weight: var(--heading-03-font-weight-extra-bold);
  line-height: var(--heading-03-line-height);
  color: var(--gray-00);
}
header #navigation .widget-bar .container-general .mid {
  display: flex;
  align-items: center;
  width: 180px;
  height: 48px;
  gap: 8px;
}
header #navigation .widget-bar .container-general .mid span:first-child {
  font-size: var(--body-small-font-size);
  font-weight: var(--body-small-font-weight-bold);
  line-height: var(--body-small-line-height);
  color: var(--gray-00);
}
header #navigation .widget-bar .container-general .mid span:nth-child(2) {
  font-size: var(--display-04-font-size);
  font-weight: var(--display-04-font-weight);
  line-height: var(--display-04-line-height);
  color: var(--warning-500);
}
header #navigation .widget-bar .container-general .mid span:last-child {
  font-size: var(--body-xl-font-size);
  font-weight: var(--body-xl-font-weight-extra-bold);
  line-height: var(--body-xl-line-height);
  color: var(--gray-00);
}
header #navigation .widget-bar .container-general .right {
  display: flex;
  align-items: center;
}
header #navigation .widget-bar .container-general .right button {
  width: 156px;
  height: 48px;
  border-radius: 2px;
  background-color: var(--warning-500);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}
header #navigation .widget-bar .container-general .right button:hover {
  background-color: var(--warning-600);
}
header #navigation .widget-bar .container-general .right button h2 {
  font-size: var(--heading-05-font-size);
  font-weight: var(--heading-05-font-weight);
  color: var(--gray-900);
}
header #navigation .widget-bar .container-general .right button img {
  width: 20px;
  height: 20px;
}
header #navigation .nav-bar {
  height: 220px;
}
header #navigation .nav-bar__top {
  background-color: var(--secondary-700);
}
header #navigation .nav-bar__top .container-general {
  height: 52px;
}
header #navigation .nav-bar__top .container-general p {
  font-size: var(--body-small-font-size);
  font-weight: var(--body-small-font-weight);
  color: white;
}
header #navigation .nav-bar__top .container-general .top-right-nav {
  width: 396px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
header #navigation .nav-bar__top .container-general .top-right-nav .nav-social-box {
  width: 233px;
  gap: 12px;
  display: flex;
}
header #navigation .nav-bar__top .container-general .top-right-nav .nav-social-box p {
  font-size: var(--body-small-font-size);
  font-weight: var(--body-small-font-weight);
  color: var(--gray-00);
}
header #navigation .nav-bar__top .container-general .top-right-nav .nav-social-box .nav-social-icons {
  width: 156px;
  gap: 12px;
  display: flex;
  align-items: center;
}
header #navigation .nav-bar__top .container-general .top-right-nav .dropdown {
  display: flex;
  width: 120px;
  justify-content: space-between;
}
header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-lang,
header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-crncy {
  position: relative;
  width: 100%;
  gap: 6px;
}
header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-lang .dropdown-toggle,
header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-crncy .dropdown-toggle {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  color: var(--gray-00);
  font-size: var(--body-small-font-size);
  font-weight: var(--body-small-font-weight);
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}
header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-lang .dropdown-toggle:hover,
header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-crncy .dropdown-toggle:hover {
  background-color: rgba(52, 152, 219, 0.1);
}
header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-lang .dropdown-toggle i,
header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-crncy .dropdown-toggle i {
  margin-left: 6px;
  width: 12px;
}
header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-lang .dropdown-menu,
header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-crncy .dropdown-menu {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  list-style-type: none;
  width: 80px;
  z-index: 1;
}
header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-lang .dropdown-menu li a,
header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-crncy .dropdown-menu li a {
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 3px 5px;
  color: black;
  font-size: 12px;
  font-weight: var(--body-small-font-weight);
}
header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-lang .dropdown-menu li a:hover,
header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-crncy .dropdown-menu li a:hover {
  background-color: rgba(52, 152, 219, 0.2);
}
header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-lang:hover .dropdown-menu,
header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-crncy:hover .dropdown-menu {
  display: block;
}
header #navigation .nav-bar__mid {
  background-color: var(--secondary-700);
}
header #navigation .nav-bar__mid .container-general {
  height: 88px;
}
header #navigation .nav-bar__mid .container-general .nav-logo {
  display: flex;
  align-items: center;
  width: 177px;
  gap: 8px;
}
header #navigation .nav-bar__mid .container-general .nav-logo .circle-icon {
  width: 48px;
  height: 48px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #navigation .nav-bar__mid .container-general .nav-logo .circle-icon .outer-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--gray-00);
  display: flex;
  justify-content: center;
  align-items: center;
}
header #navigation .nav-bar__mid .container-general .nav-logo .circle-icon .inner-circle {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: transparent;
  border: 6px solid var(--secondary-700);
  border-radius: 50%;
}
header #navigation .nav-bar__mid .container-general .nav-logo h1 {
  color: var(--gray-00);
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -2%;
}
header #navigation .nav-bar__mid .container-general .search-bar {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  background-color: var(--gray-00);
  border-radius: 2px;
  width: 646px;
  height: 48px;
}
header #navigation .nav-bar__mid .container-general .search-bar .search-input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: var(--body-small-font-size);
  font-weight: var(--body-small-font-weight);
  color: var(--gray-500);
}
header #navigation .nav-bar__mid .container-general .search-bar .search-button {
  background-color: none;
  border: none;
  cursor: pointer;
}
header #navigation .nav-bar__mid .container-general .search-bar .search-button img {
  width: 20px;
  height: 20px;
}
header #navigation .nav-bar__mid .container-general .middle-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 144px;
  height: 32px;
  gap: 24px;
}
header #navigation .nav-bar__mid .container-general .middle-icons .mobile-search {
  display: none;
}
header #navigation .nav-bar__bottom {
  background-color: var(--gray-00);
}
header #navigation .nav-bar__bottom .container-general {
  height: 80px;
}
header #navigation .nav-bar__bottom .container-general .bottom-left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 695px;
}
header #navigation .nav-bar__bottom .container-general .bottom-left-nav .category button {
  cursor: pointer;
  width: 154px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 24px;
  background-color: var(--gray-50);
  border: 0;
}
header #navigation .nav-bar__bottom .container-general .bottom-left-nav .category button:hover {
  background-color: var(--gray-70);
}
header #navigation .nav-bar__bottom .container-general .bottom-left-nav .category button h5 {
  font-size: var(--body-small-font-size);
  color: var(--gray-900);
  font-weight: var(--body-small-font-weight-bold);
}
header #navigation .nav-bar__bottom .container-general .bottom-left-nav .category button img {
  width: 16px;
  height: 16px;
}
header #navigation .nav-bar__bottom .container-general .bottom-left-nav .blabla-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
header #navigation .nav-bar__bottom .container-general .bottom-left-nav .blabla-item img {
  width: 24px;
  height: 24px;
}
header #navigation .nav-bar__bottom .container-general .bottom-left-nav .blabla-item h3 {
  font-size: var(--body-small-font-size);
  font-weight: var(--body-small-font-weight);
  color: var(--gray-600);
}
header #navigation .nav-bar__bottom .container-general .bottom-left-nav .blabla-item h3:hover {
  color: var(--gray-900);
}
header #navigation .nav-bar__bottom .container-general .bottom-right-nav {
  width: 182px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
header #navigation .nav-bar__bottom .container-general .bottom-right-nav img {
  width: 28px;
  height: 28px;
}
header #navigation .nav-bar__bottom .container-general .bottom-right-nav h3 {
  font-size: var(--body-large-font-size);
  font-weight: var(--body-large-font-weight);
  color: var(--gray-900);
}
header #navigation .nav-bar__bottom .container-general .bottom-right-nav h3:hover {
  color: var(--gray-700);
}
header #featured-products {
  padding-top: 20px;
  width: 75%;
  display: flex;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
header #featured-products .suggested {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin: auto;
}
header #featured-products .suggested__left {
  background-color: var(--gray-50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
header #featured-products .suggested__left .productSwiper {
  width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
}
header #featured-products .suggested__left .productSwiper .swiper-wrapper .product-slide {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header #featured-products .suggested__left .productSwiper .swiper-wrapper .product-slide .product-content {
  width: 356px;
  height: 224px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
header #featured-products .suggested__left .productSwiper .swiper-wrapper .product-slide .product-content .content-title {
  display: flex;
  align-items: center;
  gap: 5px;
}
header #featured-products .suggested__left .productSwiper .swiper-wrapper .product-slide .product-content .content-title img {
  width: 24px;
}
header #featured-products .suggested__left .productSwiper .swiper-wrapper .product-slide .product-content .content-title p {
  font-size: var(--body-small-font-size);
  font-weight: var(--body-small-font-weight-extra-bold);
  color: var(--secondary-600);
}
header #featured-products .suggested__left .productSwiper .swiper-wrapper .product-slide .product-content h1 {
  font-size: var(--display-03-font-size);
  font-weight: var(--display-03-font-weight);
  color: var(--gray-900);
}
header #featured-products .suggested__left .productSwiper .swiper-wrapper .product-slide .product-content p {
  font-size: var(--body-large-font-size);
  font-weight: var(--body-large-font-weight);
  color: var(--gray-700);
}
header #featured-products .suggested__left .productSwiper .swiper-wrapper .product-slide .product-content .content-button button {
  cursor: pointer;
  width: 191px;
  height: 56px;
  border: 0;
  background-color: var(--primary-500);
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
header #featured-products .suggested__left .productSwiper .swiper-wrapper .product-slide .product-content .content-button button:hover {
  background-color: var(--primary-600);
}
header #featured-products .suggested__left .productSwiper .swiper-wrapper .product-slide .product-content .content-button button h1 {
  font-size: 16px;
  font-weight: var(--heading-05-font-weight);
  color: var(--gray-00);
}
header #featured-products .suggested__right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}
header #featured-products .suggested__right .top-box {
  padding-left: 10%;
  background-color: var(--gray-900);
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
header #featured-products .suggested__right .top-box__left {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}
header #featured-products .suggested__right .top-box__left p {
  font-size: var(--label-03-font-size);
  font-weight: var(--label-03-font-weight);
  color: var(--warning-500);
}
header #featured-products .suggested__right .top-box__left h2 {
  font-size: var(--heading-03-font-size);
  font-weight: var(--heading-03-font-weight);
  color: var(--gray-00);
}
header #featured-products .suggested__right .top-box__left button {
  cursor: pointer;
  width: 156px;
  height: 48px;
  background-color: var(--primary-500);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
header #featured-products .suggested__right .top-box__left button:hover {
  background-color: var(--primary-600);
}
header #featured-products .suggested__right .top-box__left button p {
  font-size: 16px;
  font-weight: var(--heading-05-font-weight);
  color: var(--gray-00);
}
header #featured-products .suggested__right .top-box__right {
  position: absolute;
  bottom: 0;
  right: 0;
}
header #featured-products .suggested__right .bottom-box {
  background-color: var(--gray-50);
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
header #featured-products .suggested__right .bottom-box__right {
  width: 172px;
  height: 168px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header #featured-products .suggested__right .bottom-box__right h2 {
  font-size: var(--heading-03-font-size);
  font-weight: var(--heading-03-font-weight);
  color: var(--gray-900);
}
header #featured-products .suggested__right .bottom-box__right p {
  font-size: var(--body-large-font-size);
  font-weight: var(--body-large-font-weight-extra-bold);
  color: var(--secondary-500);
}
header #featured-products .suggested__right .bottom-box__right button {
  cursor: pointer;
  width: 156px;
  height: 48px;
  background-color: var(--primary-500);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 0;
}
header #featured-products .suggested__right .bottom-box__right button:hover {
  background-color: var(--primary-600);
}
header #featured-products .suggested__right .bottom-box__right button p {
  font-size: 16px;
  font-weight: var(--heading-05-font-weight);
  color: var(--gray-00);
}
header #featured-products .services {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--gray-100);
  padding: 16px 0;
  background-color: var(--gray-00);
  border-radius: 6px;
  width: 100%;
  height: 108px;
}
header #featured-products .services .service {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  text-align: center;
  background-color: #FFFFFF;
}
header #featured-products .services .service img {
  width: 40px;
  height: 40px;
}
header #featured-products .services .service .service-text h4 {
  font-size: var(--label-03-font-size);
  font-weight: var(--label-03-font-weight);
  color: var(--gray-900);
}
header #featured-products .services .service .service-text p {
  font-size: var(--body-small-font-size);
  font-weight: var(--body-small-font-weight);
  color: var(--gray-600);
}

main #deals-section {
  margin: 80px 0;
}
main #deals-section .best-deals {
  width: 100%;
}
main #deals-section .best-deals__title {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
main #deals-section .best-deals__title .deals-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
main #deals-section .best-deals__title .deals-left h2 {
  font-size: var(--heading-03-font-size);
  font-weight: var(--heading-03-font-weight);
  color: var(--gray-900);
}
main #deals-section .best-deals__title .deals-left h3 {
  font-size: var(--body-small-font-size);
  font-weight: var(--body-small-font-weight);
  color: #000;
}
main #deals-section .best-deals__title .deals-left div {
  padding: 6px 12px;
  background-color: var(--warning-300);
  border-radius: 2px;
  gap: 6px;
}
main #deals-section .best-deals__title .deals-left div span {
  font-size: var(--body-medium-font-size);
  font-weight: var(--body-medium-font-weight);
  color: var(--gray-900);
}
main #deals-section .best-deals__title .deals-right .browse-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
main #deals-section .best-deals__title .deals-right .browse-product p {
  font-size: var(--body-small-font-size);
  font-weight: var(--body-small-font-weight-extra-bold);
  color: var(--secondary-500);
}
main #deals-section .best-deals__title .deals-right .browse-product img {
  width: 20px;
  height: 20px;
}
main #deals-section .best-deals__items .item-container {
  display: flex;
  height: 592px;
}
main #deals-section .best-deals__items .item-container .container-left {
  padding: 20px 20px;
  flex: 1;
  display: flex;
  max-width: fit-content;
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .badge-box {
  width: 73px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  top: 0;
  left: 0;
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .badge-box .discount {
  padding: 5px 10px;
  background-color: var(--warning-400);
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .badge-box .discount p {
  font-size: var(--body-tiny-font-size);
  font-weight: var(--body-tiny-font-weight-extra-bold);
  color: var(--gray-900);
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .badge-box .hot {
  max-width: fit-content;
  padding: 5px 10px;
  background-color: var(--danger-500);
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .badge-box .hot p {
  font-size: var(--body-tiny-font-size);
  font-weight: var(--body-tiny-font-weight-extra-bold);
  color: var(--gray-00);
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .deal-content {
  width: 280px;
  height: 182px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .deal-content .content-heading {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .deal-content .content-heading .rating {
  display: flex;
  gap: 2px;
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .deal-content .content-heading .rating p {
  font-size: var(--body-medium-font-size);
  font-weight: var(--body-medium-font-weight);
  color: var(--gray-900);
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .deal-content .content-price {
  display: flex;
  gap: 4px;
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .deal-content .content-price .old-price {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-300);
  text-decoration: line-through;
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .deal-content .content-price .new-price {
  font-size: 18px;
  font-weight: 600;
  color: var(--secondary-500);
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .deal-content p {
  font-size: var(--body-small-font-size);
  font-weight: var(--body-small-font-weight);
  color: var(--gray-600);
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .deal-btn {
  display: flex;
  gap: 8px;
  height: 48px;
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .deal-btn .mid-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 24px;
  border: transparent;
  border-radius: 2px;
  background-color: var(--primary-500);
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .deal-btn .mid-btn:hover {
  background-color: var(--primary-600);
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .deal-btn .mid-btn p {
  font-size: var(--heading-05-font-size);
  color: var(--gray-00);
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .deal-btn button {
  cursor: pointer;
  padding: 0 12px;
  border: transparent;
  border-radius: 2px;
  background-color: var(--primary-100);
}
main #deals-section .best-deals__items .item-container .container-left .deal-item-left .deal-btn button:hover {
  background-color: var(--primary-200);
}
main #deals-section .best-deals__items .item-container .container-right {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
main #deals-section .best-deals__items .item-container .container-right .deal-item {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main #deals-section .best-deals__items .item-container .container-right .deal-item .badge-box {
  width: 73px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  top: 0;
  left: 0;
}
main #deals-section .best-deals__items .item-container .container-right .deal-item .badge-box .sold {
  padding: 5px 10px;
  background-color: var(--gray-400);
  width: 80px;
}
main #deals-section .best-deals__items .item-container .container-right .deal-item .badge-box .sold p {
  font-size: 12px;
  font-weight: 600;
  color: var(--gray-00);
}
main #deals-section .best-deals__items .item-container .container-right .deal-item .badge-box .discount {
  padding: 5px 10px;
  background-color: var(--warning-400);
}
main #deals-section .best-deals__items .item-container .container-right .deal-item .badge-box .discount p {
  font-size: var(--body-tiny-font-size);
  font-weight: var(--body-tiny-font-weight-extra-bold);
  color: var(--gray-900);
}
main #deals-section .best-deals__items .item-container .container-right .deal-item .badge-box .hot {
  max-width: fit-content;
  padding: 5px 10px;
  background-color: var(--danger-500);
}
main #deals-section .best-deals__items .item-container .container-right .deal-item .badge-box .hot p {
  font-size: var(--body-tiny-font-size);
  font-weight: var(--body-tiny-font-weight-extra-bold);
  color: var(--gray-00);
}
main #deals-section .best-deals__items .item-container .container-right .deal-item .deal-content {
  display: flex;
  flex-direction: column;
  padding: 18px;
  gap: 6px;
}
main #deals-section .best-deals__items .item-container .container-right .deal-item .deal-content p {
  font-size: var(--body-small-font-size);
  font-weight: var(--body-small-font-weight);
  color: var(--gray-600);
}
main #deals-section .best-deals__items .item-container .container-right .deal-item .deal-content .content-price {
  display: flex;
  gap: 4px;
}
main #deals-section .best-deals__items .item-container .container-right .deal-item .deal-content .content-price .new-price {
  font-size: var(--body-small-font-size);
  font-weight: 600;
  color: var(--secondary-500);
}
main #category-section {
  height: 316px;
}
main #category-section .category {
  width: 100%;
  text-align: center;
  gap: 40px;
}
main #category-section .category h1 {
  font-size: var(--heading-01-font-size);
  font-weight: var(--heading-01-font-weight);
  color: var(--gray-900);
  padding-bottom: 20px;
}
main #category-section .category .itemSwiper .swiper-wrapper .item-slide .item-box {
  height: 236px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #category-section .category .itemSwiper .swiper-wrapper .item-slide .item-box img {
  width: 148px;
  height: 148px;
}
main #category-section .category .itemSwiper .swiper-wrapper .swiper-button-next,
main #category-section .category .itemSwiper .swiper-wrapper .swiper-button-prev {
  font-size: 15px;
  font-size: 20px;
  color: var(--gray-900);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--gray-100);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container-general {
    width: 90%;
  }
  header #navigation {
    height: auto;
  }
  header #navigation .widget-bar {
    height: 50px;
  }
  header #navigation .widget-bar .container-general .left {
    gap: 5px;
  }
  header #navigation .widget-bar .container-general .left .black {
    width: 55px;
    height: 25px;
  }
  header #navigation .widget-bar .container-general .left .black h1 {
    font-size: 14px;
  }
  header #navigation .widget-bar .container-general .left .friday {
    font-size: 14px;
  }
  header #navigation .widget-bar .container-general .mid {
    width: auto;
    height: auto;
    gap: 5px;
  }
  header #navigation .widget-bar .container-general .mid span:first-child {
    font-size: 10px;
  }
  header #navigation .widget-bar .container-general .mid span:nth-child(2) {
    font-size: 24px;
  }
  header #navigation .widget-bar .container-general .mid span:last-child {
    font-size: 12px;
  }
  header #navigation .widget-bar .container-general .right button {
    width: 68px;
    height: 30px;
    gap: 0px;
  }
  header #navigation .widget-bar .container-general .right button h2 {
    font-size: 8px;
  }
  header #navigation .widget-bar .container-general .right button img {
    width: 10px;
    height: 10px;
  }
  header #navigation .nav-bar {
    height: auto;
  }
  header #navigation .nav-bar__top .container-general {
    height: 30px;
  }
  header #navigation .nav-bar__top .container-general .welcome {
    display: none;
  }
  header #navigation .nav-bar__top .container-general .top-right-nav {
    width: 100%;
    gap: 10px;
  }
  header #navigation .nav-bar__top .container-general .top-right-nav .nav-social-box {
    width: min-content;
    gap: 0px;
  }
  header #navigation .nav-bar__top .container-general .top-right-nav .nav-social-box p {
    display: none;
  }
  header #navigation .nav-bar__top .container-general .top-right-nav .nav-social-box .nav-social-icons {
    gap: 8px;
  }
  header #navigation .nav-bar__top .container-general .top-right-nav .dropdown {
    width: 100%;
    justify-content: flex-end;
  }
  header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-lang,
  header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-crncy {
    display: flex;
    justify-content: center;
  }
  header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-lang .dropdown-toggle,
  header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-crncy .dropdown-toggle {
    font-size: 10px;
  }
  header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-lang .dropdown-menu li a,
  header #navigation .nav-bar__top .container-general .top-right-nav .dropdown .multi-crncy .dropdown-menu li a {
    font-size: 10px;
  }
  header #navigation .nav-bar__mid .container-general {
    height: 30px;
  }
  header #navigation .nav-bar__mid .container-general .nav-logo {
    width: 80px;
    gap: 5px;
  }
  header #navigation .nav-bar__mid .container-general .nav-logo .circle-icon {
    width: 20px;
    height: 20px;
  }
  header #navigation .nav-bar__mid .container-general .nav-logo .circle-icon .inner-circle {
    width: 10px;
    height: 10px;
    border: 3px solid var(--secondary-700);
  }
  header #navigation .nav-bar__mid .container-general .nav-logo h1 {
    font-size: 14px;
  }
  header #navigation .nav-bar__mid .container-general .search-bar {
    display: none;
  }
  header #navigation .nav-bar__mid .container-general .middle-icons .mobile-search {
    display: block;
  }
  header #navigation .nav-bar__bottom .container-general {
    height: 40px;
    width: 90%;
  }
  header #navigation .nav-bar__bottom .container-general .bottom-left-nav {
    width: 100%;
  }
  header #navigation .nav-bar__bottom .container-general .bottom-left-nav .category button {
    width: 85px;
    padding: 5px;
  }
  header #navigation .nav-bar__bottom .container-general .bottom-left-nav .category button h5 {
    font-size: 10px;
  }
  header #navigation .nav-bar__bottom .container-general .bottom-left-nav .category button img {
    width: 9px;
    height: 9px;
  }
  header #navigation .nav-bar__bottom .container-general .bottom-left-nav .blabla-item img {
    width: 15px;
    height: 15px;
  }
  header #navigation .nav-bar__bottom .container-general .bottom-left-nav .blabla-item h3 {
    display: none;
  }
  header #navigation .nav-bar__bottom .container-general .bottom-right-nav {
    display: none;
  }
  header #featured-products {
    gap: 30px;
    margin-top: 15px;
  }
  header #featured-products .suggested {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  header #featured-products .suggested__left {
    display: none;
  }
  header #featured-products .suggested__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header #featured-products .suggested__right .top-box {
    width: 100%;
    height: 200px;
    align-items: center;
    padding: 0;
  }
  header #featured-products .suggested__right .top-box__left p {
    text-align: center;
  }
  header #featured-products .suggested__right .top-box__left h2 {
    text-align: center;
  }
  header #featured-products .suggested__right .top-box__left button {
    width: 85%;
    margin: auto;
    height: 30px;
  }
  header #featured-products .suggested__right .top-box__right {
    display: none;
  }
  header #featured-products .suggested__right .bottom-box {
    width: 100%;
    padding: 0px;
  }
  header #featured-products .services {
    flex-direction: column;
    gap: 10px;
    padding: 8px 0;
    height: auto;
    width: 100%;
  }
  header #featured-products .services .service {
    flex-direction: row;
    gap: 15px;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
  }
  header #featured-products .services .service img {
    width: 30px;
    height: 30px;
  }
  header #featured-products .services .service .service-text h4 {
    font-size: 14px;
  }
  header #featured-products .services .service .service-text p {
    font-size: 12px;
  }
  main #deals-section {
    margin: 15px 0;
  }
  main #deals-section .best-deals__title {
    height: 20px;
  }
  main #deals-section .best-deals__title .deals-left {
    gap: 15px;
  }
  main #deals-section .best-deals__title .deals-left h2 {
    min-width: fit-content;
    font-size: 14px;
  }
  main #deals-section .best-deals__title .deals-left h3 {
    font-size: 14px;
    min-width: fit-content;
  }
  main #deals-section .best-deals__title .deals-left div {
    padding: 2px 4px;
    gap: 0px;
    min-width: fit-content;
  }
  main #deals-section .best-deals__title .deals-left div span {
    font-size: 14px;
    gap: 0;
  }
  main #deals-section .best-deals__title .deals-right .browse-product {
    gap: 0px;
  }
  main #deals-section .best-deals__title .deals-right .browse-product p {
    display: none;
  }
  main #deals-section .best-deals__items .item-container .container-left {
    display: none;
  }
  main #deals-section .best-deals__items .item-container .container-right {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  main #category-section {
    margin-top: px;
  }
  main #category-section .swiper-wrapper {
    height: 316px;
  }
  main #category-section .swiper-slide {
    height: 200px;
  }
  main #category-section .swiper-slide .item-box img {
    max-height: 148px;
  }
  main #category-section .swiper-slide .item-box p {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */